.footer-container {
    background-color: lightgray;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .footer-right {
    	display: flex;
    	margin-right: 40px;
        .footer-right-1 {
            margin-right: 80px;

            .footer-navbar {
                display: flex;
                flex-direction: column;

                .footer-navbar-item {
                    color: black;
                }
            }
        }

        .footer-right-2 {
            
        }
    }
}